listH1{
	padding-bottom:2vh;
	padding-top:15vw;
	margin-bottom:0;
	box-shadow:0 7px 19px black;
}

h1 listH1{
	margin-bottom:0;
}

.place{
	width:100%;
	text-align:center;
	border-bottom:1px solid black;
	
	padding-top:40px;
}

.hidden{
	display:none;
	text-align:center;
	font-size:2em;
}

.show{
	display:block !important;
	font-size:4vw;
}

.name{
	font-size:6vw;
}

.place:nth-child(even) {
    background: #e8e8e8;
}

